<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Bookmarks</title>

    <!-- Accesses CSS files-->
    <link rel="stylesheet" href="/assets/css/characterBookmarks.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>

<body>
    <main>
        <div class="big-wrapper light">

            <!-- Accesses navigation bar -->
            <header>
                <div class="container">
                    <%- include('partials/navbar') %>
                    <br>
                    <br>
                </div>
            </header>


            <!-- Unique Content for Story of the Day -->
            <div class="showcase-area">
                <div class="container">
                  <div class="center">
                    <h1 class="bookmarks-title">Bookmarks</h1>
                    <div class="bookmarks-container">
                      <% if (bookmarks.length === 0) { %>
                        <!-- Display a message if bookmarks array is empty -->
                        <div class="empty-bookmarks-message">
                          You have no bookmarks! Let's fix that!
                        </div>
                      <% } else { %>
                        <!-- Display bookmarks if not empty -->
                        <% console.log(bookmarks); %>
                        <% bookmarks.forEach(bookmark => { %>
                          <div class="bookmark" data-character-id="<%= bookmark.characterID %>">
                            <!-- Display the character details for each bookmarked character -->
                            <br>
                            <div class ="characterName">
                            <%= bookmark.characterName %>
                            </div>
                            <br>
                            <img src="<%= bookmark.characterImage %>" style="width: 200px; height: auto;">
                            <br>
                            <%= bookmark.characterDescription %>
                            <!-- You can add more details as required -->
                            <br>
                            <br>
                            <button class="remove-bookmark-button">Remove Bookmark</button>
                          </div>
                          <br>
                          <br>
                        <% }) %>
                        <div class="bookmark-count">
                          Total Bookmarks: <%= bookmarks.length %>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            

            <!-- Music Play/Pause Control and Volume Bar -->
            <div class="audio-controls">
                <img src="/assets/images/play.png" alt="Play Music Button" class="play-button" />
                <div class="volume-control">
                  <div class="volume-bar" data-level="0"></div>
                  <div class="volume-bar" data-level="1"></div>
                  <div class="volume-bar" data-level="2"></div>
                  <div class="volume-bar" data-level="3"></div>
                  <div class="volume-bar" data-level="4"></div>
                  <div class="volume-bar" data-level="5"></div>
                  <div class="volume-bar" data-level="6"></div>
                  <div class="volume-bar" data-level="7"></div>
                  <div class="volume-bar" data-level="8"></div>
                  <div class="volume-bar" data-level="9"></div>
                </div>
            </div>
            <audio id="storyPageSong" loop>
                <source src="/assets/audio/marvelOpening.mp3" type="audio/mp3" />
            </audio>

            <!-- Theme Change Button -->
            <div class="bottom-area">
                <div class="container">
                    <button class="toggle-btn">
                        <i class="far fa-moon"></i>
                        <i class="far fa-sun"></i>
                    </button>
                </div>
            </div>

        </div>
    </main>

    <!-- Access Javascript Code -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/assets/js/themeToggler.js"></script>
    <script src="/assets/js/audioControls.js"></script>
    <script src="/assets/js/characterBookmarks.js"></script>
</body>
<script>
    var userID = '<%= user.id %>'; // Assuming you pass the user object to your EJS render function
</script>

</html>
